{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h2>Change Password</h2><br>
        <form id="changepassword" action="/password" method="post">
            <div class="form-group">
                <input id="passsword" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div id="feedback1"></div>
            <div class="form-group">
                <input class="form-control" name="oldpassword" placeholder="Old Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="newpassword" placeholder="New Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="newconfirmation" placeholder="Confirm New Password" type="password">
            </div>

            <button class="btn btn-primary" type="submit" id="submit_form">Change Password</button>
            <div id="feedback2"></div>
        </form>

        <script type="text/javascript" src="static/script.js"></script>


{% endblock %}
